html, body{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conatiner > div > img{
    /* width: 150px;
    height: 100px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .conatiner > div{
    flex: 1 1 150px;
} */
.conatiner > .big{
    flex: 1 1 250px;
}
.conatiner > .normal{
    flex: 1 1 150px;
}
.conatiner > .normal{
    flex: 1 1 100px;
}